#container {
  background: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  align-items: baseline;

  .item {
    background: #f4f4f4;
    border: black solid 1px;
    padding: 1rem;
    text-align: center;
    margin: 0.75rem;
    flex-basis: 200px;
  }

  .feature {
    background: yellow;
  }

  .simple {
    background: red;
  }

  .widget {
    background: orange;
  }



}


